<head>
  <%= javascript_include_tag 'sticky_widget' %>
</head>

<body>
  <h1>Search</h1>
  
  
  
  <script type="text/javascript" charset="utf-8" src="/search/new.js">
    // STICKY WIDGET
  </script>
</body>