<h1>Search Result</h1>

<%= link_to('back to search', page_path('search')) %>

<div id="search_result_widget"/>

<script type="text/javascript" charset="utf-8" src="/search.js"><\/script>

<!-- <script ></script> -->